@import "theme";

app-pls-historical-data {
  app-datetime-range-select {
    margin-bottom: @margin-sm;
  }

  nz-alert {
    margin-bottom: @margin-xs;
  }

  nz-spin {
    min-height: 400px;

    text-align: left;
  }
}
