@import "theme";

app-inverter-control-commands-status {
  font-size: @font-size-sm;

  .actions {
    margin-top: @margin-xs;
  }

  .command-status {
    text-transform: uppercase;
    display: inline-block;
    min-width: 100px;
  }

  .commands-status-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: @font-size-sm;
    display: none;
  }

  .inverters-list {
    margin: 0;
    padding: 0;
    list-style: none;

    .inverters-list-item {
      margin: 0;
    }
  }
}
