@import "theme";

app-bess-summary {
  display: block;
  width: 100%;

  height: 100%;

  padding: @padding-md @padding-lg;

  background-color: @background-color-light;
  border-radius: @border-radius-base;

  section {
    margin-bottom: @margin-md;
  }
}
