app-icons {
  line-height: 1;
  margin-bottom: -4px;

  width: 40px;
  text-align: right;

  app-grid-icon {
    display: block;
    height: 36px;
  }

  app-batt-icon-default,
  app-batt-icon-charge {
    display: block;
    height: 18px;
  }

  app-pv-output {
    display: block;
    height: 32px;
  }

  app-arrow-left,
  app-arrow-right {
    display: block;
    width: 20px;
  }

  svg{
    width: 100%;
    height: 100%;
  }
}
