<nz-card class="state-variants-container" nzTitle="State variants" i18n-nzTitle>
  @for (state of deviceStates; track $index) {
    <p>
      <app-device-state [state]="state" [fixedWidth]="true"></app-device-state>
      <app-device-state-iconish [state]="state"></app-device-state-iconish>
    </p>
  }
  <p>
    <app-device-state-iconish [state]="undefined"></app-device-state-iconish>
  </p>

  <nz-divider></nz-divider>

  @for (state of deviceStates; track $index) {
    <p>
      <app-device-state [state]="state" variant="full"></app-device-state>
    </p>
  }
  <p>
    <app-device-state [state]="undefined" variant="full"></app-device-state>
  </p>

  <nz-divider></nz-divider>

  @for (state of deviceStates; track $index) {
    <p>
      <app-device-state [state]="state" variant="full" size="large"></app-device-state>
    </p>
  }
  <p>
    <app-device-state [state]="undefined" variant="full" size="large"></app-device-state>
  </p>
</nz-card>

<nz-card>
  <nz-alert nzType="success" nzMessage="Success Tips" nzShowIcon></nz-alert>
  <nz-alert nzType="info" nzMessage="Informational Notes" nzShowIcon></nz-alert>
  <nz-alert nzType="warning" nzMessage="Warning" nzShowIcon></nz-alert>
  <nz-alert nzType="error" nzMessage="Error" nzShowIcon></nz-alert>
  <nz-alert
    nzType="success"
    nzMessage="Success Tips"
    nzDescription="Detailed description and advices about successful copywriting."
    nzShowIcon
  ></nz-alert>
  <nz-alert
    nzType="info"
    nzMessage="Informational Notes"
    nzDescription="Additional description and informations about copywriting."
    nzShowIcon
  ></nz-alert>
  <nz-alert
    nzType="warning"
    nzMessage="Warning"
    nzDescription="This is a warning notice about copywriting."
    nzShowIcon
  ></nz-alert>
  <nz-alert
    nzType="error"
    nzMessage="Error"
    nzDescription="This is an error message about copywriting."
    nzShowIcon
  ></nz-alert>
</nz-card>
