app-state-variants {
  display: block;
  padding: 24px;

  .ant-card + .ant-card {
    margin-top: 12px;
  }

  .short {
    display: block;
    min-width: 24px;
    text-align: center;
    font-size: 80%;
    font-weight: bold;
  }

  app-device-state {
    margin-right: 8px;
  }

  nz-alert {
    margin-bottom: 16px;

    max-width: 600px;
  }
}
