@import "theme";

app-inverter-control-latest-activity {
  .nz-spin-fix-text-align {
    text-align: left; // override nz-spin center align
  }

  nz-spin {
    min-height: 100px;
  }

  .full-history-btn {
    margin: @margin-sm 0;
  }
}
