@import "theme";

app-epm-tab-content {
  .historical-data-header {
    border-bottom: 1px solid @border-color-split;
    margin-bottom: @margin-sm;
    margin-top: @margin-md;
  }

  & > nz-spin {
    min-height: 500px;
  }
}
