@import "theme";

app-momentary-data-chart-widget {
  display: block;

  .parameter-selector-header {
    display: flex;
    gap: @margin-xs;
    align-items: center;

    padding: @padding-sm @padding-md;
    background-color: @background-color-base;
    border-radius: @border-radius-base;
    margin-bottom: @margin-sm;
  }
}
