@import "theme";

app-power-limit-icon {
  font-size: 18px;
  height: 18px;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  color: @red-7;

  margin-top: -3px;

  svg {
    fill: @red-7;
  }
}
