@if ((scheduleRequest$ | async)?.error; as error) {
  <nz-alert
    nzType="error"
    i18n-nzMessage
    nzMessage="Request failed"
    [nzDescription]="error.message || error.toString()"
    nzShowIcon
  ></nz-alert>
}

<nz-spin
  i18n-nzTip
  nzTip="Please wait..."
  [nzSpinning]="(scheduleRequest$ | async)?.isLoading"
  nzSize="large"
  class="spinner-container"
>
  @if (schedule) {
    <div class="schedule-container">
      <div class="left-pane">
        <div class="header">
          <div class="title">
            <h2>{{ schedule.title }}</h2>
            <p class="secondary-text">
              <ng-container i18n>Uploaded</ng-container>
              {{ schedule.scheduleUploaded.timestamp | date: "d MMMM y, HH:mm:ss" }}
            </p>
          </div>
          <!-- <div class="actions">
          <a nz-button nzType="default" (click)="onDownloadFile(schedule.file.name)">
            <i nz-icon nzType="download" nzTheme="outline"></i>
            Download file
          </a>
        </div> -->
        </div>

        <nz-divider></nz-divider>

        <nz-collapse [nzGhost]="true" [nzBordered]="false" [nzExpandIconPosition]="'end'">
          <nz-collapse-panel
            [nzHeader]="title"
            [nzActive]="false"
            i18n-nzExtra="@@scheduleStatusActivity"
            nzExtra="Activity"
            [nzExpandedIcon]="expandedIcon"
            #panel
          >
            <app-ges-activity [schedule]="schedule"></app-ges-activity>
          </nz-collapse-panel>
          <ng-template #title>
            <h3 i18n>Schedule status</h3>
          </ng-template>
          <ng-template #expandedIcon let-active>
            {{ active }}
            <span
              nz-icon
              nzType="caret-up"
              class="ant-collapse-arrow"
              [nzRotate]="panel.active() ? 0 : -180"
            ></span>
          </ng-template>
        </nz-collapse>

        <p><app-ges-status [schedule]="schedule"></app-ges-status></p>

        @if (syncService.hasPermissionToToggleScheduleStatus) {
          <nz-divider></nz-divider>

          <app-toggle-ges-button
            [type]="schedule.status !== 'enabled' ? 'enable' : 'disable'"
            [loading]="
              updateStatusRequest$ !== undefined && (updateStatusRequest$ | async)?.isLoading
            "
            [disabled]="isPast(schedule)"
            (btnClick)="schedule.status !== 'enabled' ? onEnableSchedule() : onDisableSchedule()"
          ></app-toggle-ges-button>
        }
      </div>
      <div class="right-pane">
        @if (!isPast(schedule)) {
          <p style="text-align: right">
            <ng-container i18n>Minimum export price is currently set to</ng-container>
            <span
              style="cursor: pointer"
              routerLink="../settings"
              nz-tooltip
              nzTooltipTitle="Change in settings"
            >
              <b> {{ priceSetting$ | async }} BGN&thinsp;/&thinsp;MWh </b>
            </span>
          </p>
        }

        <app-ges-preview-chart [schedule]="schedule"></app-ges-preview-chart>
        <app-ges-preview-table [schedule]="schedule"></app-ges-preview-table>
      </div>
    </div>
  }
</nz-spin>
