<div class="row">
  <div class="sums-container">
    <h3 i18n>Calculated reactive energy</h3>
    <div class="secondary-text" i18n>Total for selected period</div>

    <div class="pm-boxes-container">
      <app-epm-parameter-box
        i18n-label
        label="Consumed"
        [data]="getParameterBoxInputFor_Sum(data?.sum, 'calculated_reactiveEnergy_Consumed')"
      >
      </app-epm-parameter-box>
      <app-epm-parameter-box
        i18n-label
        label="Generated"
        [data]="getParameterBoxInputFor_Sum(data?.sum, 'calculated_reactiveEnergy_Generated')"
      >
      </app-epm-parameter-box>
    </div>
  </div>
  <div class="chart-container">
    <div [id]="chartContainerId_Penalty" style="width: 100%; height: 300px"></div>
  </div>
</div>

<div class="row">
  <div class="sums-container">
    <h3 i18n>Reactive energy</h3>
    <div class="secondary-text" i18n>Total for selected period</div>

    <div class="pm-boxes-container">
      <app-epm-parameter-box
        i18n-label
        label="Consumed"
        [data]="getParameterBoxInputFor_Sum(data?.sum, 'reactiveEnergy_Consumed')"
      >
      </app-epm-parameter-box>
      <app-epm-parameter-box
        i18n-label
        label="Generated"
        [data]="getParameterBoxInputFor_Sum(data?.sum, 'reactiveEnergy_Generated')"
      >
      </app-epm-parameter-box>
    </div>
  </div>
  <div class="chart-container">
    <div [id]="chartContainerId_ReactiveEnergy" style="width: 100%; height: 300px"></div>
  </div>
</div>

<div class="row">
  <div class="sums-container">
    <h3 i18n>Energy</h3>
    <div class="secondary-text" i18n>Total for selected period</div>

    <div class="pm-boxes-container">
      <app-epm-parameter-box
        i18n-label
        label="Consumed"
        [data]="getParameterBoxInputFor_Sum(data?.sum, 'energy_Consumed')"
      >
      </app-epm-parameter-box>
      <app-epm-parameter-box
        i18n-label
        label="Generated"
        [data]="getParameterBoxInputFor_Sum(data?.sum, 'energy_Generated')"
      >
      </app-epm-parameter-box>
    </div>
  </div>
  <div class="chart-container">
    <div [id]="chartContainerId" style="width: 100%; height: 300px"></div>
  </div>
</div>
