<app-datetime-range-select
  (modelChange)="onDatetimeRangeChange($event)"
  [defaultOption]="'day'"
  [timeZone]="timeZone"
  [showIntegrationPeriod]="true"
  [showPredefinedOptions]="true"
  [model]="(targetRange$ | async) || undefined"
  [defaultIntegrationPeriod]="defaultIntegrationPeriod"
>
  <div style="margin-left: auto">
    @let loadedData = loadedData$ | async;
    <app-highcharts-export-option
      [chartComponent]="this"
      [disabled]="!loadedData?.dataRequest?.data"
      [filename]="loadedData?.exportFileName"
      [limitedOptions]="false"
    ></app-highcharts-export-option>
  </div>
</app-datetime-range-select>

<!-- Data loading error -->
@if (dataError$ | async; as error) {
  <nz-alert
    nzType="error"
    i18n-nzMessage
    nzMessage="Failed to load data"
    [nzDescription]="error.message"
  ></nz-alert>
}

<!-- Web app error -->
@if (appError$ | async; as error) {
  <nz-alert
    nzType="error"
    i18n-nzMessage
    nzMessage="Application error"
    [nzDescription]="error.message"
  ></nz-alert>
}

<!-- 
  Negative margin is applied to the container to compensate for the internal chat margin.
  Internal chart margin is required because if set to 0 the scrollbar is cropped.
-->
<div class="chart-container">
  <div [id]="chartContainerId" style="width: 100%; height: 396px"></div>
</div>

<div class="chart-container">
  <div [id]="chartContainerIdSubPlant1" style="width: 100%; height: 200px"></div>
</div>

<div class="chart-container">
  <div [id]="chartContainerIdSubPlant2" style="width: 100%; height: 200px"></div>
</div>
