app-task-tree-select {
  display: block;

  .ant-tree .ant-tree-treenode {
    max-width: 100%;
  }

  .ant-tree .ant-tree-node-content-wrapper {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
