@import "theme";

app-bess-schedule-indicator {
  display: inline-block;
  vertical-align: middle;

  border-radius: 2px;
  overflow: hidden; // To clip the border radius

  .header {
    & > * {
      display: inline-block;
    }

    .title {
      margin-left: @margin-xs;
    }
  }

  &.mode-block {
    display: block;
    border: 1px solid @green-fresh-7;

    &.charging {
      border-color: @cyan-7;
    }
  }

  &.mode-block .indicator-block .header,
  &.mode-full .indicator-block .header {
    padding: @margin-xs - 1 @margin-sm;
  }

  &.mode-icon .indicator-block .header {
    padding: 0 5px;

    font-size: 16px;
    line-height: 26px;
  }

  .block-mode-details-container {
    padding: @padding-md;

    padding-left: 38px; // aligh with header text

    & > :first-child {
      margin-bottom: @margin-xs;
    }
  }

  .indicator-block {
    border: 1px solid transparent;

    &.disabled .header {
      background-color: @gray-2;

      app-power-limit-icon svg {
        // fill: @text-color;
        fill: @red-7;
      }
    }
  }

  .indicator-block.active-compliant {
    @default-color-background: @background-color-base;
    border-color: @default-color-background;
    // background-color: @default-color-background;

    .header {
      app-power-limit-icon svg {
        fill: @text-color;
      }

      background-color: @default-color-background;
    }
  }

  .indicator-block.active-non-compliant .header {
    app-power-limit-icon svg {
      fill: white;
    }

    color: white;
    background-color: @red-7;
  }

  &.charging .indicator-block.active-compliant {
    @charging-color-background: #09bcd733; // @cyan-7 + opacity
    border-color: @charging-color-background;

    .header {
      app-power-limit-icon svg {
        fill: @cyan-7;
      }

      background-color: @charging-color-background;
    }
  }

  &.discharging .indicator-block.active-compliant {
    @discharging-color-background: #a7d32e44; // @green-fresh-6 + opacity
    border-color: @discharging-color-background;

    .header {
      app-power-limit-icon svg {
        fill: @green-fresh-8;
      }

      background-color: @discharging-color-background;
    }
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    gap: @margin-xss;
  }

  app-pls-value-formatted {
    font-weight: bold;
  }

  &.controlled-by-external-system .indicator-block {
    border-color: black;
    background-color: #00000011;

    .header {
      background-color: transparent;
      color: @text-color;

      app-power-limit-icon svg {
        fill: @text-color;
      }
    }
  }
}

.bess-schedule-indicator-popover {
  max-width: 300px;
}
