@import "theme";

app-device-availability-timeline {
  .state-continuity-duration {
    color: @text-color-secondary;
    font-size: @font-size-sm;
    line-height: 1.4;
    margin-top: 3px;
  }

  app-relative-timestamp {
    line-height: 1.4;
    margin-top: 2px;
  }

  .ant-timeline {
    margin-top: @margin-lg;
  }

  .not-available {
    margin: @margin-sm;
  }

  nz-spin {
    min-height: 200px;
  }
}
