<ul nz-menu class="side-menu">
  <li i18n nz-menu-group nzTitle="Views"></li>
  <li i18n nz-menu-item nzMatchRouter routerLink="percentage-summary">Percentage Summary</li>
  <li i18n nz-menu-item nzMatchRouter routerLink="state-variants">State variants</li>
  <li i18n nz-menu-item nzMatchRouter routerLink="datetime-range">Datetime range</li>
  <li i18n nz-menu-item nzMatchRouter routerLink="inverter-control">Inverter control</li>
  <li i18n nz-menu-item nzMatchRouter routerLink="power-limit-schedule">Power limit schedule</li>
  <li i18n nz-menu-item nzMatchRouter routerLink="pls-manual-adjustment/17">
    Schedule manual adjustments
  </li>
  <li i18n nz-menu-item nzMatchRouter routerLink="weather/26">Weather</li>
  <li i18n nz-menu-item nzMatchRouter routerLink="custom-dashboards">Custom dashboards</li>
  <li i18n nz-menu-item nzMatchRouter routerLink="custom-data-views">Custom data views</li>
  <li i18n nz-menu-item nzMatchRouter routerLink="plant-topology">Plant topology</li>
  <li i18n nz-menu-item nzMatchRouter routerLink="wind-widgets">Wind widgets</li>
  <li i18n nz-menu-item nzMatchRouter routerLink="power-limit-manual-control">
    Power limit manual control
  </li>
  <li i18n nz-menu-item nzMatchRouter routerLink="bess">BESS</li>
</ul>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
