@import "theme";

app-power-schedule-toggle-confirm-form {
  .content {
    padding: @padding-lg @padding-lg;
  }

  .actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    gap: @margin-xs;

    border-top: 1px solid @border-color-split;

    padding: @padding-md @padding-lg;

    button {
      flex: 1 1 auto;
    }
  }
}

