app-fault-counters-column-chart-loader {
  display: block;
  min-height: 500px;

  header {
    padding: 0 2em;
    margin-top: 1.5em;

    display: flex;
    align-items: center;

    h3 {
      margin: 0;
    }
  }
}
