@let plant = plant$ | async;

@if (plant && plant.plantSpecificMetadata?.bessId) {
  <nz-result
    nzStatus="warning"
    i18n-nzTitle
    [nzTitle]="'This page is not intended for plants with a BESS.'"
    i18n-nzSubTitle
    [nzSubTitle]="
      'Click the button below to access the power schedule page for plants with a BESS.'
    "
  >
    <div nz-result-extra>
      <button nz-button nzType="primary" routerLink="../power-schedule">
        Go to power schedule
      </button>
    </div>
  </nz-result>
}

@if (plant && !plant.plantSpecificMetadata?.bessId) {
  <!--  -->
  @if (plant?.plantSpecificMetadata?.hasOnSiteSetup === true) {
    <app-system-setup-banner [plant]="plant"></app-system-setup-banner>
  }

  <div class="page-content" [class.single-pane-mode]="singlePaneMode">
    <div class="left-pane" [class.collapsed]="showDetail">
      <h2 i18n>Power limit schedule</h2>

      <div class="current-schedule-block">
        <ul class="custom-list">
          <!-- <li
          class="list-item active-schedule-nav"
          routerLink="active-schedule"
          routerLinkActive="is-active"
        >
          <div class="left icon-slot">
            <app-power-limit-schedule-indicator
              *ngIf="currentSchedule$ | async as currentSchedule; else pwlsIcon"
              [currentSchedule]="currentSchedule"
              [mode]="'icon-only'"
              [scheduleLink]="undefined && 'active-schedule'"
              [fileLink]="currentSchedule.fileRefId || undefined"
            ></app-power-limit-schedule-indicator>
            <ng-template #pwlsIcon>
              <app-power-limit-icon [scheduledLimit]="true"></app-power-limit-icon>
            </ng-template>
          </div>

          <div class="left">Active schedule</div>
          <div class="right">
            <span nz-icon nzType="right" nzTheme="outline"></span>
          </div>
        </li> -->

          @if (hasPermissionToAdjust) {
            <li
              class="list-item active-schedule-nav"
              routerLink="manual-adjust"
              routerLinkActive="is-active"
            >
              <div class="left icon-slot">
                <span nz-icon nzType="edit" nzTheme="outline"></span>
              </div>

              <div i18n class="left">Manual adjustment</div>
              <div class="right">
                <span nz-icon nzType="right" nzTheme="outline"></span>
              </div>
            </li>
          }

          <!-- <li class="list-item active-schedule-nav" routerLink="history" routerLinkActive="is-active">
          <div class="left icon-slot">
            <span nz-icon nzType="history" nzTheme="outline"></span>
          </div>

          <div class="left">History</div>
          <div class="right">
            <span nz-icon nzType="right" nzTheme="outline"></span>
          </div>
        </li> -->
        </ul>
      </div>

      <h3 i18n>Schedules list</h3>
      @if (hasPermissionToUpload) {
        <div class="upload-block">
          <app-pls-file-upload
            [plantId]="(plant$ | async)?.id"
            (fileUpload)="onFileUploadSuccess($event)"
          ></app-pls-file-upload>
        </div>
      }

      <div class="list-block">
        <app-pls-history-list-loader></app-pls-history-list-loader>
      </div>
    </div>

    <div class="right-pane" [class.collapsed]="!showDetail">
      @if (showDetail) {
        <div class="nav-up">
          <button nz-button nzType="default" [routerLink]="'./'">
            <span nz-icon nzType="left" nzTheme="outline"></span>&nbsp;
            <ng-container i18n>All schedules</ng-container>
          </button>
        </div>
      }

      <router-outlet (activate)="onChildRouteActivate()" (deactivate)="onChildRouteDeactivate()">
      </router-outlet>
    </div>
  </div>
}
