app-wt-power-chart-widget {
  display: block;
  height: 100%;
  overflow-y: auto;

  .combined-chart {
    // margin-bottom: 5px;
  }

  .ant-card-small > .ant-card-body,
  .ant-card-body {
    padding: 0;
  }
}
