@import "theme";

app-alarm-trigger-link {
  display: block;

  line-height: 1.3;

  .trigger-status-text {
    text-transform: uppercase;

    font-size: small;
    font-weight: bold;

    &.enabled {
      color: @green-7;
    }

    &.muted {
      color: @gold-6;
    }
  }
}
