@import "theme";

app-monbat-activity {
  overflow: hidden;
  display: block;

  padding-top: 32px;

  background-color: @gray-1;

  .ant-timeline {
    margin-left: -30%;

    .ant-timeline-item {
      padding-bottom: @padding-sm;
    }
  }

  app-relative-timestamp {
    margin-top: 2px;
    line-height: 1.3;
  }

  .user-details {
    color: @text-color-secondary;
    font-size: @font-size-sm;

    line-height: 1.4;
  }

  .status-tag {
    text-transform: uppercase;
    font-weight: bold;
  }
}
