@import "theme";

app-datetime-range-filter {
  display: flex;
  flex-wrap: wrap;
  gap: @margin-xss;

  .ant-radio-button-wrapper {
    font-size: @font-size-sm;
    font-weight: bold;
    padding: 0 8px;
  }

  .ant-picker {
    // padding-right: 0;
  }

  .additional-content {
    margin-left: auto;
  }
}
