app-task-tree-edit {
  .ant-tree.ant-tree-block-node .ant-tree-list-holder-inner .ant-tree-node-content-wrapper {
    min-width: 0;
  }

  .ant-tree .ant-tree-node-content-wrapper span {
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
}
