@import "theme";

.external-control-warning {
  margin-top: @margin-xs;
  padding: @padding-xs;
  font-weight: bold;
  border-radius: 2px;
  background-color: @red-7;
  color: white;
  line-height: 1.3;
  font-size: @font-size-sm;
  overflow: hidden;
  white-space: wrap;
  width: 230px;
}

.manual-control-info {
  margin-top: @margin-xs;
  padding: @padding-xs;
  border-radius: 2px;
  line-height: 1.3;
  background-color: @blue-1;
}
