@import "theme";

ul.custom-list {
  list-style: none;
  padding: 0;
}

.custom-list {
  .list-item {
    cursor: pointer;

    border-top: 1px solid @border-color-split;

    &:hover {
      background-color: @item-hover-bg-light;
    }

    &.is-active {
      background-color: @item-active-bg;
    }

    &:first-child {
      border-top-color: transparent;
    }

    padding: @padding-sm @padding-md;

    line-height: 1.2;

    display: flex;
    align-items: flex-start;
    gap: @padding-xs;
  }
}

.empty-list {
  .ant-empty {
    margin: 0;
    padding-top: @padding-sm;

    .ant-empty-image {
      height: 54px;
      margin-bottom: 0;
    }
  }
}
