@import "theme";

.list-filters-block {
  height: 100%;

  overflow-y: auto;

  padding: @padding-md @padding-lg;

  background-color: @background-color-base;

  & > .ant-divider {
    border: 0;
    margin: @padding-md 0;
  }

  .ant-tree .ant-tree-node-content-wrapper:hover {
    background-color: @gray-4;
  }
}
