@import "theme";

.passcode-container {
  margin-top: @margin-sm;

  input {
    max-width: 190px;
  }

  .autocomplete-hint {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}
