@import "theme";

.flex-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  gap: @margin-xss;

  margin-bottom: @padding-xss;

  h2,
  h3 {
    margin: 0;
  }

  .extra {
    margin-left: auto;
  }
}
