.value-cell,
.unit-cell {
  white-space: nowrap;
}

.value-cell {
  text-align: right;
  padding-right: 0 !important;
  border-right-color: transparent !important;
}

.unit-cell {
  text-align: left;
  padding-left: 0 !important;
  color: @text-color-secondary;
}
