@import "theme";

app-historical-data-chart-widget {
  display: block;

  .parameter-selector-header {
    display: flex;
    align-items: center;
    gap: @margin-xs;
    padding: @padding-sm @padding-md;
    background-color: @background-color-base;
    border-radius: @border-radius-base;
  }

  .range-selector {
    margin-left: auto;
  }
}
