@import "theme";

app-power-schedule-page {
  display: block;
  height: 100%;

  .page-content {
    display: flex;

    height: 100%;

    padding: 0 @padding-xs;

    & > .left-pane {
      flex: 2 2 40%;
      max-width: 600px;

      padding: @padding-md;

      border-right: 1px solid @border-color-split;

      overflow: auto;
    }

    & > .left-pane.collapsed {
      flex: 1 1 500px;
    }

    & > .right-pane {
      flex: 3 3 60%;
      width: 60%;

      padding: @padding-md;

      display: flex;
      flex-direction: column;

      overflow: auto;
    }

    & > .right-pane.collapsed {
      flex: 0 0 auto;
      width: auto;
    }

    .nav-up {
      display: none;
    }

    .upload-block {
      margin-bottom: 10px;
    }

    .current-schedule-block {
      margin: @margin-sm 0 @margin-lg 0;
    }

    .custom-list .list-item.active-schedule-nav {
      margin-bottom: @margin-xss;

      align-items: center;

      padding: @padding-md;
      border: 1px solid @border-color-split;

      border-radius: 2px;

      font-size: @font-size-lg;
      line-height: 1.5;

      .left {
        display: flex;
        align-items: center;
        gap: @margin-xs;
      }

      .icon-slot {
        min-width: 28px;
        line-height: 28px;
        text-align: center;
      }

      .right {
        margin-left: auto;
      }

      &:hover {
        background-color: @gray-2;
      }

      &.is-active {
        border-color: @blue-2;
        background-color: @blue-2;
      }
    }

    .list-block {
      nz-spin {
        min-height: 150px;
      }

      app-power-schedule-history-list {
        text-align: left;
      }
    }
  }

  .single-pane-mode-rules() {
    & > .left-pane {
      flex: 1;
      max-width: 100%;
    }

    & > .left-pane {
      border-right: 0;

      width: 100%;
    }

    & > .left-pane.collapsed {
      display: none;
    }

    & > .right-pane {
      // padding-left: 0;
    }

    & > .right-pane.collapsed {
      display: none;
    }

    .nav-up {
      display: block;
    }
  }

  .page-content.single-pane-mode {
    .single-pane-mode-rules();
  }

  @media (max-width: @breakpoint-xl) {
    .page-content {
      .single-pane-mode-rules();
    }
  }

  @media (max-width: @breakpoint-sm) {
    .page-content {
      padding: @padding-xs @padding-sm;
    }

    .left-pane,
    .right-pane {
      padding: 0 !important;
    }
  }
}
