@import "theme";

app-power-schedule-history-list {
  .subtitle {
    color: @text-color-secondary;
    font-size: @font-size-sm;
    margin-top: @margin-xss;
  }

  .custom-list .list-item {
    align-items: flex-start;

    .header {
      word-break: break-word;
      flex: 1 1 auto;
    }

    .status {
      margin-left: auto;
      flex: 0 0 auto;
    }
  }
}
