<h2>{{ chartTitle$ | async }}</h2>

@if (chartSpecifics) {
  <app-datetime-range-select
    (modelChange)="onDatetimeRangeChange($event, chartSpecifics)"
    [defaultOption]="'day'"
    [timeZone]="(timeZone$ | async) || undefined"
    [showIntegrationPeriod]="showFullRangeSelect"
    [showPredefinedOptions]="true"
    [customRangeTypeOptions]="showFullRangeSelect ? null : ['day', 'week', 'custom-range']"
    [showIntegrationPeriodOneMinute]="showFullRangeSelect"
    [model]="(targetRange$ | async) || undefined"
  >
    <div style="margin-left: auto">
      <app-highcharts-export-option
        [chartComponent]="this"
        [disabled]="!(data$ | async)?.dataRequest?.data"
        [filename]="(data$ | async)?.exportFileName"
        [limitedOptions]="false"
      ></app-highcharts-export-option>
    </div>
  </app-datetime-range-select>
}
<!-- Data loading error -->
@if (dataError$ | async; as error) {
  <nz-alert
    nzType="error"
    i18n-nzMessage
    nzMessage="Failed to load data"
    [nzDescription]="error.message"
  ></nz-alert>
}

<!-- Web app error -->
@if (appError$ | async; as error) {
  <nz-alert
    nzType="error"
    i18n-nzMessage
    nzMessage="Application error"
    [nzDescription]="error.message"
  ></nz-alert>
}

<!-- 
  Negative margin is applied to the container to compensate for the internal chat margin.
  Internal chart margin is required because if set to 0 the scrollbar is cropped.
-->
<div class="chart-container">
  <div
    [id]="chartContainerId"
    style="width: 100%; height: 350px; margin-left: -5px; margin-right: -5px"
  ></div>
</div>
