@import "theme";

app-error-stack-index-value {
  .ok {
    font-size: 80%;
    color: @text-color-secondary;

    // This equals app-device-state min width.
    // It needs to be set here to fix table layout consistency.
    min-width: 70px;
  }
}
