app-power-limit-schedule-indicator-test {
  display: block;
  padding: 30px;

  nz-card {
    max-width: 600px;
  }

  .flex-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    & > * {
      flex: 1;
    }
  }
}
