@import "theme";

app-error-stacks-page {
  height: 100%;
  display: block;

  background-color: @background-color-base;

  .current-faults-indicator {
    color: @red-7;
    white-space: nowrap;
    font-size: @font-size-sm;
  }
}
