@import "theme";

app-historical-power-chart {
  display: block;

  nz-alert {
    margin-top: @margin-xs;
  }

  pre {
    padding-top: @padding-sm;
    margin-top: @margin-xs;
    border-top: 1px solid @border-color-base;
    font-size: @font-size-sm;
  }
}
