@import "theme";

app-alarms-config-condition-fault-occurence {
  .condition-form nz-divider {
    height: 0;
  }

  .ant-tag {
    background: white;
  }

  .faults-select-container {
    width: 350px;

    button {
      width: 100%;
    }
  }

  .ant-select.ant-select-in-form-item {
    width: 110px;
  }

  .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
  .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    text-align: left;
  }

  nz-input-number .ant-input-number-group .ant-input-number {
    max-width: 80px;
  }
}
