@import "theme";

app-pls-toggle-confirm-modal {
  display: block;

  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    gap: @margin-xs;

    border-top: 1px solid @border-color-split;

    padding: @padding-md @padding-lg;
  }
}
