@let inverterData = (inverterDataRequest$ | async)?.data;
<!--  -->
@let inverterDataLoading = (inverterDataRequest$ | async)?.isLoading;

<div class="flex-header">
  <h2>
    @if (inverterMetadata$ | async; as inverterMetadata) {
      <div style="white-space: nowrap" i18n>Inverter {{ inverterMetadata.displayIndex }}</div>
      <div class="secondary-text">
        {{ inverterMetadata.context.tsDisplayName }}
      </div>
    } @else {
      <div i18n>Inverter details</div>

      @if (loadingMetadata$ | async; as loadingMetadata) {
        <div class="secondary-text" i18n="@@loading">Loading...</div>
      }
    }
  </h2>

  @if (inverterData) {
    <!--  -->
    @if (inverterData.extendedStateForTooltip?.intermediateState; as intermediateState) {
      <app-device-state
        [state]="inverterData.extendedState"
        [variant]="'full'"
        nz-popover
        [nzPopoverContent]="popoverContent"
      ></app-device-state>
      <ng-template #popoverContent>
        <b>{{ intermediateState.label }}</b>
        @if (intermediateState.description) {
          <br />
          {{ intermediateState.description }}
        }
      </ng-template>
    } @else {
      <app-device-state [state]="inverterData.extendedState" [variant]="'full'"></app-device-state>
    }
  }

  <a role="button" class="close-page-button extra" routerLink="../.." queryParamsHandling="merge">
    &times;
  </a>
</div>

@if (error$ | async; as error) {
  <nz-alert
    nzType="error"
    i18n-nzMessage
    nzMessage="Failed to load data"
    [nzDescription]="error.message"
    nzShowIcon
  ></nz-alert>
}

<!--  -->
@if (isStaleData(inverterData) | async) {
  <div class="stale-data-warning">
    <nz-icon nzType="clock-circle" nzTheme="outline" />&nbsp;
    <span i18n>Data is stale!</span>
  </div>
}

<div class="alarms-section">
  @if (inverterData) {
    <!--  -->
    @if (inverterData.alarms && inverterData.alarms.length > 0) {
      <nz-table
        #alarmsTable
        [nzData]="inverterData.alarms"
        [nzShowPagination]="false"
        [nzSize]="'small'"
      >
        <thead>
          <tr>
            <th i18n>Active alarms</th>
            <th i18n class="alarm-severity">Severity</th>
            <th i18n class="alarm-timestamp">Active since</th>
          </tr>
        </thead>
        <tbody>
          @for (alarm of alarmsTable.data; track alarm.id) {
            <tr>
              <td class="alarm-content">
                <app-inverter-alarm-icon
                  [severity]="alarm.severity"
                  [inverse]="true"
                ></app-inverter-alarm-icon>
                <span class="alarm-message">{{ alarm.title }}</span>
              </td>
              <td class="alarm-severity">{{ alarm.severity }}</td>
              <td class="alarm-timestamp">
                <span class="secondary-text">{{ alarm.timestampZoned | date: "mediumDate" }}</span>
                <span>
                  {{ alarm.timestampZoned | date: "HH:mm:ss" }}
                </span>
              </td>
            </tr>
          }
        </tbody>
      </nz-table>
    } @else {
      <div i18n class="no-alarms">No active alarms</div>
    }
  }
</div>

<app-inverter-parameters-table
  [tsParametersTemplate]="(tsParametersTemplate$ | async) || undefined"
  [deviceMetrics]="(inverterMetricsDataRequest$ | async)?.data"
  [loading]="(inverterMetricsDataRequest$ | async)?.isLoading"
></app-inverter-parameters-table>

<div class="inverter-data-container">
  <!--  -->
  @if (inverterDataLoading) {
    <nz-skeleton [nzActive]="true" [nzParagraph]="false"></nz-skeleton>
  }
  <!--  -->
  @if (inverterData && !inverterDataLoading) {
    <div class="power-bar-labels">
      <div>
        <span i18n>Active power</span>
        <app-value-display
          [value]="inverterData.activePower"
          [format]="'1.3-3'"
          [unit]="' kW'"
        ></app-value-display>
      </div>
      <div class="installed-power">
        <span i18n>Installed capacity</span>
        <app-value-display
          [value]="inverterData.installedCapacity"
          [format]="'1.3-3'"
          [unit]="' kWp'"
        ></app-value-display>
      </div>
    </div>
    <app-inverter-power-bar
      [actualValue]="inverterData.activePower"
      [maximumValue]="inverterData.installedCapacity"
      [isPerformanceRatio]="false"
    ></app-inverter-power-bar>

    <app-inverter-power-bar
      style="margin-top: 2px; display: block"
      [actualValue]="inverterData.performanceRatio"
      [maximumValue]="100"
      [isPerformanceRatio]="true"
    ></app-inverter-power-bar>
    <div class="power-bar-labels">
      <div>
        <span i18n>Performance ratio</span>
        <app-value-display
          [value]="inverterData.performanceRatio"
          [format]="'1.3-3'"
          [unit]="'%'"
        ></app-value-display>
        <i
          nz-icon
          nzType="info-circle"
          nzTheme="outline"
          nz-popover
          [nzPopoverContent]="prFormula"
          (nzPopoverVisibleChange)="onPopoverVisibilityChange($event)"
          [nzPopoverVisible]="(popoverVisible$ | async) || false"
        ></i>
        <ng-template #prFormula>
          <app-pr-formula>
            <a role="button" class="close-popover-button" (click)="onClosePopover()"> &times; </a>
          </app-pr-formula>
        </ng-template>
      </div>
    </div>
  }
</div>

<h3 i18n>Active power history</h3>

@if (powerChartContext$ | async; as powerChartContext) {
  <app-inverter-power-chart [context]="powerChartContext"></app-inverter-power-chart>
} @else {
  <div i18n>Loading...</div>
}
