@import "theme";

app-materials-schema-view {
  display: block;
  height: 100%;

  svg {
    max-width: 100%;
    transform-origin: top left;
    height: auto;
    display: block;
    cursor: grab;

    shape-rendering: optimizeSpeed;
    text-rendering: optimizeSpeed;
  }

  [data-selectable="true"] {
    pointer-events: bounding-box;
    cursor: pointer;
  }

  [data-selected="0"] {
    .interaction-marker {
      fill: #ffe200; // TODO: @yellow-6
    }
  }

  [data-selected="1"] {
    .interaction-marker {
      fill: @red-7;
    }

    tspan {
      fill: white;
    }
  }

  .svg-container {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  .pages {
    flex: 0 0 auto;
    padding: 20px;
    // background: $form-bg;
    display: none;
  }

  .message {
    display: block;
    position: relative;
    width: 80px;

    margin: auto;
  }
  .lds-ellipsis {
    display: block;
    position: relative;
    width: 80px;
    height: 40px;
    margin: auto;
  }

  .lds-ellipsis div {
    position: absolute;
    top: 13px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #d5d5d5;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
}
