@import "theme";

app-inverter-power-chart {
  .flex-row {
    display: flex;
    flex-direction: row;

    column-gap: @padding-xs;
    row-gap: @padding-xss;

    margin-bottom: @margin-xss;

    .extra {
      margin-left: auto;
    }
  }
}
