@import "theme";

app-inverter-control-history {
  .ant-pagination {
    margin: @margin-sm 0;
    text-align: left; // override nz-spin center align
  }

  app-inverter-control-request-item {
    text-align: left; // override nz-spin center align
  }

  nz-spin {
    min-height: 100px;
  }

  .filters-block {
    background-color: @gray-2;
    padding: @padding-md @padding-md;
    padding-top: @padding-sm;

    border-radius: 2px;

    margin-bottom: @margin-sm; // should be the same as optionally visible pagination

    .filter-title {
      margin-bottom: @margin-xss;
    }
  }

  .empty-container {
    border: 1px solid @border-color-split;
  }
}
