@import "theme";

app-pv-combined-chart-data-loader {
  display: flex;
  flex-direction: column;
  gap: @margin-xss;

  .ant-card-body {
    padding: 0px 8px 0 8px !important;
  }

  .ant-card-head {
    border-bottom: 0;
  }
}
