app-alarms-config-condition-parameter-boundaries {
  display: block;

  .ant-input-group-wrapper {
    width: auto;
  }

  nz-input-number .ant-input-number-group .ant-input-number {
    max-width: 80px;
  }
}
