@import "theme";

app-epm-live-data-widget {
  display: block;
  width: 100%;

  nz-alert {
    margin-top: @margin-sm;
  }

  nz-spin {
    @margin-top: @padding-md - @padding-xss;

    margin-top: @margin-top;

    min-height: 173px - @margin-top;
  }

  .ant-tabs > .ant-tabs-nav {
    margin-bottom: 0;
  }
}
