app-fault-counters-bar-chart {
  display: block;
  background: white;

  header {
    padding: 0 2em;
    margin-top: 1.5em;

    display: flex;
    align-items: center;

    h3 {
      margin: 0;
    }

    .auto-sort-option {
      margin-left: auto;
    }
  }
}
