@import "theme";

app-device-state-iconish {
  .text {
    font-size: 80%;
    text-transform: uppercase;
    color: @device-state-color-off;
    font-weight: bold;
    white-space: nowrap;
  }

  .standalone-icon.warning,
  .standalone-icon.error {
    font-size: 100%;
  }

  .standalone-icon.on {
    font-size: 80%;
  }
}
