@import "theme";

.page-content {
  display: block;
  padding: @padding-sm @padding-md;
  padding-top: 0;
}
a.close-page-button {
  display: block;
  padding: 0 16px;
  padding-bottom: 6px;

  font-size: 40px;
  line-height: 1;

  margin-left: auto;

  color: @text-color;

  &:hover {
    background-color: @background-color-light;
  }
}

.close-page-button {
  display: block;
  padding: 10 16px;
  padding-bottom: 6px;

  font-size: 40px;
  line-height: 1;

  margin-left: auto;

  color: @text-color;

  &:hover {
    background-color: @background-color-light;
  }
}
