@import "theme";

app-ges-settings-form {
  section {
    margin: @margin-md 0;
    padding: @padding-lg;
    padding-top: @padding-md;

    border-radius: 5px;
    background-color: @background-color-base;
  }

  .switch-row {
    display: flex;
    gap: @margin-sm;
  }

  nz-spin {
    text-align: left;
  }
}
