// color palettes

@black: #000000;
@white: #ffffff;

@gray-1: #fafbfc;
@gray-2: #f5f7f8;
@gray-3: #edf0f3;
@gray-4: #d4dce3;
@gray-5: #b2c1cd;
@gray-6: #99acbd;
@gray-7: #66839b;
@gray-8: #4c6e8b;
@gray-9: #33597a;
@gray-10: #19456a;

@blue-1: #e5f6fe;
@blue-2: #ccecfc;
@blue-3: #b1e1f9;
@blue-4: #80d0f8;
@blue-5: #33b4f4;
@blue-6: #00a1f1;
@blue-7: #0081cc;
@blue-8: #0063a6;
@blue-9: #004880;
@blue-10: #003059;

@red-1: #fff2f0;
@red-2: #ffe6e0;
@red-3: #ffcac4;
@red-4: #ffa29c;
@red-5: #ff7773;
@red-6: #ff4b4b;
@red-7: #d9343a;
@red-8: #b3222c;
@red-9: #8c1420;
@red-10: #660d19;

@gold-1: #fff9e6;
@gold-2: #ffeec2;
@gold-3: #ffdb8c;
@gold-4: #ffc963;
@gold-5: #ffb43b;
@gold-6: #ff9e13;
@gold-7: #d97904;
@gold-8: #b35c00;
@gold-9: #8c4400;
@gold-10: #662e00;

@green-1: #f0fff5;
@green-2: #d1f4de;
@green-3: #97e6b8;
@green-4: #6cd99d;
@green-5: #45cc86;
@green-6: #23be73;
@green-7: #14995d;
@green-8: #097347;
@green-9: #024d30;
@green-10: #012619;

@purple-1: #f3eff7;
@purple-2: #e6dfef;
@purple-3: #c2afd7;
@purple-4: #af98cb;
@purple-5: #9d80bf;
@purple-6: #8460af;
@purple-7: #6a4d8c;
@purple-8: #4f3a69;
@purple-9: #352646;
@purple-10: #1a1323;

@cyan-1: #e6fffe;
@cyan-2: #bdffff;
@cyan-3: #83f8fc;
@cyan-4: #56e5f0;
@cyan-5: #2dd1e3;
@cyan-6: #09bcd7; // rgba(9, 188, 215, 1.0)
@cyan-7: #0093b0;
@cyan-8: #006e8a;
@cyan-9: #004c63;
@cyan-10: #002d3d;

@aquamarine-1: #e6fff8;
@aquamarine-2: #bdffee;
@aquamarine-3: #78fade;
@aquamarine-4: #4cedd0;
@aquamarine-5: #24e0c4;
@aquamarine-6: #00d3ba;
@aquamarine-7: #00ad9f;
@aquamarine-8: #008780;
@aquamarine-9: #00615f;
@aquamarine-10: #003a3b;

@yellow-1: #feffe6;
@yellow-2: #fdffb8;
@yellow-3: #fffd7a;
@yellow-4: #fff652;
@yellow-5: #ffed29;
@yellow-6: #ffe200;
@yellow-7: #d9b800;
@yellow-8: #b39200;
@yellow-9: #8c6e00;
@yellow-10: #664d00;

@green-fresh-1: #f8ffec;
@green-fresh-2: #ebfac7;
@green-fresh-3: #d5f392;
@green-fresh-4: #c4ea70;
@green-fresh-5: #b4df4e;
@green-fresh-6: #a7d32e;
@green-fresh-7: #8aab25;
@green-fresh-8: #6e851c;
@green-fresh-9: #546013;
@green-fresh-10: #3d3d0a;
