app-task-status {
  display: block;

  font-size: 20px;

  .index {
    display: block;

    width: 20px;
    height: 20px;

    font-size: 10px;
    line-height: 18px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.85);

    text-align: center;
  }
}
