@import "theme";

app-alarm-trigger-condition-preview {
  display: block;

  .condition-container {
    padding: @padding-xss @padding-xs;
    // margin-left: -12px;
    // margin-right: -12px;
    align-items: center;
    gap: 0;
    border-radius: 2px;

    background: @background-color-base;
  }
}
